<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin</h1>
    <a href="/logout">Logout</a>
    
    <a href="/admin/create">Kreiraj</a>
    <a href="#">Korisnika</a>
    <a href="#">Grad</a>
    <a href="#">Proizvod</a>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <form class="form-horizontal" action="/admin/create/save" method="POST">
                    <div class="card-body">
                        <h4 class="card-title">Kreiraj korisnika</h4>
                        <h4 class="card-title">Licni podaci</h4>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Ime</label>
                            <div class="col-sm-9">
                                <input type="text" name="firstName" class="form-control" id="first_name" placeholder="Ime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Prezime</label>
                            <div class="col-sm-9">
                                <input type="text" name="lastName" class="form-control" id="last_name" placeholder="Prezime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-right control-label col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password Here">
                            </div>
                        </div>
                     
                       
                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Uloga</label>
                            <div class="col-sm-9">
                               <select name="role"  class="form-control">
                                <option value="operater">Operater</option>
                                <option value="savetnik">Savetnik</option>
                                <option value="admin">Admin</option>

                               </select>
                            </div>
                        </div>
                    </div>
                    <div class="border-top">
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary">Kreiraj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>